@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

$spinnerSize: 40;
$lightBlue:    #00bcd4;
$lightestBlue: #ebf5f7;
$border: 0px;

header {
    background-color: #lightBlue;
    color: white;
    max-width: 960px;
    padding-left: calc((100vw - 960px) / 2);
    padding-right: calc((100vw - 960px) / 2);
    margin-top: -22px;
    padding-bottom: 40px;
    padding-top: 80px;
    margin-bottom: 40px;
}

body {
    font-family: "Source Sans Pro",Trebuchet MS,sans-serif;
    margin: auto;
    margin-top: auto;
    background-color: white;
}

h1 { 
    font-family: "Orelega One", Trebuchet MS, serif;
    font-weight: bold;
 }

.Wrapper {
  svg.Spinner {
    display: none;
  }
}

.Wrapper {
    max-width: 960px;
    margin: auto;
}


.Wrapper--loading {
  svg.Spinner {
    display: block;
  }

  .Input {
    display: none;
  }

  .Results {
    display: none;
  }
}

.Input {
    width: 500px;
    height: 30px;
    font-size: 18px;
    padding: 4px 12px;
    border: 1px $lightBlue solid;
    border-color: $lightBlue;
    font-family: inherit;
    border-radius: 5px;
}

.SearchWrapper, .SavedWrapper {
    padding: 12px 12px 36px 12px;

    label {
        width: 170px;
        display: inline-block;
    }
}

.SearchWrapper--hidden, .SavedWrapper--hidden {
    display: none;
}

.Results {
    border: none;
    margin-top: 20px;
    border-collapse: collapse;
    width:100%;
}

.Results-row:nth-child(even) {
    background: $lightestBlue;
    border: none;
}

.Results-row_cell, .Results-header_cell {
    padding: 6px;
    text-align: left;
    border: $border;
}

.Button {
    background-color: $lightBlue;
    color: white
    padding: 12px;
    font-size: 18pt;
    font-family: inherit;
    border: 0px;
    margin-top: 12px;
    text-decoration: none;
    display: inline-block;
    border-radius:10px;
}

.Results-header {
    background-color: $lightBlue;
    color: white;
}

.title.bar {
    height: 80px;
    background-color: $lightBlue;
    position: fixed;
    width: 100vw;
    padding-left: calc((100vw - 960px) / 2);
    color: white;
}

h1 {
    font-family: "Orelega One";
    font-weight: bold;
    position: absolute;
    top: 10px;
}

.floaty-button {
    position: fixed;
    bottom: 0;
    padding: auto;
    width: 100vw;
    background-color: $lightBlue;
    height: 80px;
}

.floaty-button .Button {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    background-color: white;
    color: $lightBlue;
}

svg.Spinner {
    width: $spinnerSize + px;
    height: $spinnerSize + px;
    x: 0px;
    y: 0px;
    viewBox: 0 0 $spinnerSize $spinnerSize;
    
    circle {
        fill: transparent;
        stroke: #212121;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-dasharray: (3.14 * $spinnerSize);
        -webkit-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        -moz-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        -ms-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        -o-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
        -webkit-animation: spinner 2s linear infinite;
        -moz-animation: spinner 2s linear infinite;
        -ms-animation: spinner 2s linear infinite;
        -o-animation: spinner 2s linear infinite;
        animation: spinner 2s linear infinite;
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -webkit-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -webkit-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@-moz-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -moz-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -moz-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@-ms-keyframes spinner {
    0% {
        -ms-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -ms-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -ms-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@-o-keyframes spinner {
    0% {
        -o-transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        -o-transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        -o-transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    } 50% {
        transform: rotate(720deg);
        stroke-dashoffset: (3.14 * $spinnerSize);
    } 100% {
        transform: rotate(1080deg);
        stroke-dashoffset: (0.66 * $spinnerSize);
    }
}
